<p id="notice"><%= notice %></p>

<h1 align="center">List of departments</h1>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <p><%= link_to "Create new department", new_department_path , class: "btn btn-lg btn-primary" %></p>

  </div>
</div>


<%= render 'department', obj: @departments %>





