<%= form_with(model: thenewsreporter, local: true) do |form| %>
  <% if thenewsreporter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(thenewsreporter.errors.count, "error") %> prohibited this thenewsreporter from being saved:</h2>

      <ul>
      <% thenewsreporter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
