<div class="right_coloum floatright">
  <div class="single_right_coloum">
    <h2 class="title">from the desk</h2>
    <ul>
      <li>
        <div class="single_cat_right_content">
          <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit</h3>
          <p>Nulla quis lorem neque, mattis venen atis lectus. In interdum ull amcorper dolor eu mattis.</p>
          <p class="single_cat_right_content_meta"><a href="#"><span>read more</span></a> 3 hours ago</p>
        </div>
      </li>
      <li>
        <div class="single_cat_right_content">
          <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit</h3>
          <p>Nulla quis lorem neque, mattis venen atis lectus. In interdum ull amcorper dolor eu mattis.</p>
          <p class="single_cat_right_content_meta"><a href="#"><span>read more</span></a> 3 hours ago</p>
        </div>
      </li>
      <li>
        <div class="single_cat_right_content">
          <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit</h3>
          <p>Nulla quis lorem neque, mattis venen atis lectus. In interdum ull amcorper dolor eu mattis.</p>
          <p class="single_cat_right_content_meta"><a href="#"><span>read more</span></a> 3 hours ago</p>
        </div>
      </li>
    </ul>
    <a class="popular_more" href="#">more</a> </div>
  <div class="single_right_coloum">
    <h2 class="title">editorial</h2>
    <div class="single_cat_right_content editorial"> <img src="images/editorial_img.png" alt="" />
      <h3>Lorem ipsum dolor sit amet con se cte tur adipiscing elit</h3>
    </div>
    <div class="single_cat_right_content editorial"> <img src="images/editorial_img.png" alt="" />
      <h3>Lorem ipsum dolor sit amet con se cte tur adipiscing elit</h3>
    </div>
    <div class="single_cat_right_content editorial"> <img src="images/editorial_img.png" alt="" />
      <h3>Lorem ipsum dolor sit amet con se cte tur adipiscing elit</h3>
    </div>
    <div class="single_cat_right_content editorial"> <img src="images/editorial_img.png" alt="" />
      <h3>Lorem ipsum dolor sit amet con se cte tur adipiscing elit</h3>
    </div>
  </div>
</div>