
<% content_for :container do %>
  <div class="main_content floatleft">
    <div class="left_coloum floatleft">


      <%= render 'mainleft' %>

      <%= render 'mainright' %>


    </div>

    <%= render 'sidebarright' %>

  </div>

<% end %>